@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --color-brand-mustard: #EAB308;
  --color-brand-mustard-dark: #CA8A04;
  --color-brand-green: #166534;
  --color-brand-green-dark: #14532D;
  --color-brand-cream: #FEF3C7;
  --color-brand-bg: #FAFAF9;
}
